<div class="row">
  <div class="col-3 px-5 pt-4">
    <a href="#">
      <img src="{{product.image}}" alt="webshop product">
    </a>
  </div>

  <div class="col-8">
    <div class="row py-3">
      <div class="col-9">
        <div class="product_brand font-weight-bolder">
          <small>{{product.brand}}</small>
        </div>

        <div class="product_title font-weight-bold my-2">
          {{product.title}}

        </div>
        <small class="text-wrap w-25">{{product.spec}}</small>
        <div class="product_sub_description font-italic mt-3">
          {{product.descriptionShort}}
        </div>

        <div class="product_description mt-2">
          {{product.description}}
        </div>
      </div>

      <div class="col-3">
        <div class="price font-weight-bold">
          Prijs: {{product.price | currency}}
          <span>-</span>
        </div>
        <div class="add_to_cart">
          <button class="btn btn-primary btn-sm" (click)="onAddToCartButtonClick(product)">Toevoegn aan winkelwagen</button>
        </div>
      </div>
    </div>

  </div>
</div>
