<h1>Wijzigen Bestelling</h1>
<div class="row my-5">

  <div class="col">
    <div class="card">
      <h5 class="card-header">Gebruiker</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <h5 class="card-header">Product</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>
<form>

  <div class="form-group">
    <label for="name">Status</label>
    <input type="text" class="form-control" id="name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
