<ng-template [ngIf]="isCreatePage()">
  <h1 class="mb-3">Producten Toevoegen</h1>

  <app-form-create-product (createProductRequest)="createProduct($event)" [categories]="categories">
    <a class="action-back btn btn-outline-primary ml-3" (click)="showListView()">Terug</a>
  </app-form-create-product>

</ng-template>


<ng-template [ngIf]="isEditPage()">
  <h1 class="mb-3">Producten wijzigen</h1>
  <app-form-create-product (createProductRequest)="updateProduct($event)" [product]="editableProduct" [categories]="categories">
    <a class="action-back btn btn-outline-primary ml-3" (click)="showListView()">Terug</a>
  </app-form-create-product>
</ng-template>


<ng-template [ngIf]="isListPage()">

  <h1>Producten</h1>

  <app-resource-index-table
    (onDeleteResource)="deleteProduct($event)"
    (onEditResource)="showEditPage($event)"
    (onAddResource)="showCreateView()"
    [resource]="productIndexTable">
  </app-resource-index-table>

</ng-template>

