<div class="container-fluid d-none d-md-block">

  <ul class="col-7 m-auto p-0 list-group list-group-horizontal">
    <li class="list-group-item border-0 pl-0">Gratis verzending vanaf 20,-</li>
    <li class="list-group-item border-0 pl-0">Bezorging dezelfde dag, 's avonds of in het weekend*</li>
    <li class="list-group-item border-0 pl-0">Gratis retourneren</li>
  </ul>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">

    <a class="navbar-brand" href="/">
      Webshop
    </a>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" disabled>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form>

    <ul class="navbar-nav">

      <li class="nav-item" *ngIf="!authenticated(); else notAuthenticated">
        <a routerLink="auth/login" class="nav-link">Login</a>
      </li>

      <ng-template #notAuthenticated>
        <li class="nav-item" ngbDropdown *appAuthenticated="true" #myDrop="ngbDropdown">
          <a class="nav-link" routerLink="account/profile" ngbDropdownToggle role="button" (mouseenter)="myDrop.open()">
            Account
          </a>
          <div ngbDropdownMenu class="dropdown-menu">
            <button ngbDropdownItem (click)="$event.stopImmediatePropagation(); $event.stopPropagation(); logout();">Logout</button>
          </div>
        </li>
      </ng-template>

      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag"
               viewBox="0 0 16 16">
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
          </svg>
          <span *ngIf="cartAmount >= 1"> {{ cartAmount }}</span>
        </a>
      </li>

    </ul>
  </div>

</nav>
